.reference-short-field {
  width: 200px;
  white-space: nowrap; /* Отменяем перенос текста */
  overflow: hidden; /* Обрезаем содержимое */
  padding: 5px; /* Поля */
  text-overflow: ellipsis; /* Многоточие */
}
.ps-table tr:hover {
  background: #f0f0f0;  /* Цвет фона */
}